@inherits DeleteVideosModel
<h3>Delete Videos from playlist</h3>
<div class="text-center">
    <button class="btn btn-primary" @onclick="DeleteSelected">Delete selected</button>
    @foreach (var video in LocalVideos)
    {
        <MatCheckbox @bind-Value="video.IsRemoved">@video.Title</MatCheckbox>
    }
</div>

@code {


}
