@inherits PlaylistsModel
<h3>Set your playlist order</h3>

<div>
    @if (IsPlayerReady)
    {
        <CascadingValue Value="VideoUrls">
            <VideoPlayer PlayerReadyChanged="OnPlayerReadyChanged" />
        </CascadingValue>
    }
    @if (PageReady)
    {
        <div class="text-center">
            <button class="btn btn-primary" @onclick="PlayVideosInOrder">Play Videos</button>
            <button class="btn btn-secondary" @onclick="ExportVideosExcel">Download</button>
            <ul class="list-group list-group-flush" style="line-height:1.6em">
                <Dropzone>
                    @foreach (var video in Videos)
                    {

                        <div>
                            <Draggable>
                                <li class="list-group-item mat-elevation-z22 dragItem" style="border-radius:3em; margin-bottom:.1em">
                                    <span style="font-size:1.4em; margin-right:.8em" class="oi oi-elevator"></span>
                                    <span style="font-size:1.4em"> @video.Title</span>
                                    <span style="font-weight:800; margin-left:.5em">PlayOrder: @context.OrderPosition </span>
                                    @{video.PreferenceID = context.OrderPosition;}
                                </li>
                            </Draggable>
                        </div>

                    }
                </Dropzone>
            </ul>
        </div>
    }
</div>

@code {

}